.navbar {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);

    height: var(--nav-height);
    padding-inline: var(--nav-pad);
    
	border-radius: var(--br-100);
    background-color: var(--nav-bgr-color);
	backdrop-filter: blur(12px);
	-webkit-backdrop-filter: blur(12px);
}
.navbarMenu {
    display: grid;
    grid-template-columns: 45px 62px 132px 121px 57px;
	gap: var(--nav-item-gap);
}
.navbarItem {
    display: grid;
    place-content: center;
}
.navbarItem a {
	color: var(--white-100);
	text-transform: uppercase;
	font-weight: 400;
	font-size: var(--nav-item-font-size);
	letter-spacing: -0.01em;
}
.navbarItem.active a {    
	font-weight: 700;
} 