.switcher {
	display: flex;
	flex-wrap: wrap;
	gap: var(--gutter, var(--s-16, 1rem));
	--threshold: 30rem;
}

.switcher > * {
	flex-grow: 1;
	flex-basis: calc((var(--threshold) - 100%) * 999);
}

.limit2 > :nth-last-child(n + 3),
.limit2 > :nth-last-child(n + 3) ~ * {
	flex-basis: 100%;
}

.limit3 > :nth-last-child(n + 4),
.limit3 > :nth-last-child(n + 4) ~ * {
	flex-basis: 100%;
}

.limit4 > :nth-last-child(n + 5),
.limit4 > :nth-last-child(n + 5) ~ * {
	flex-basis: 100%;
}

.limit5 > :nth-last-child(n + 6),
.limit5 > :nth-last-child(n + 6) ~ * {
	flex-basis: 100%;
}

.limit6 > :nth-last-child(n + 7),
.limit6 > :nth-last-child(n + 7) ~ * {
	flex-basis: 100%;
}

@media (max-width: 768px) {
	.switcher {
		--threshold: 20rem;
	}
}

@media (max-width: 480px) {
	.switcher {
		--threshold: 15rem;
	}
} 
