@import './header-variables.css';
@import './variables.css';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* color-scheme: dark; */
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
    margin: 0;
    padding: 0;
}

.font-rubik {
    font-family: 'Rubik', sans-serif;
}

.font-garamond {
    font-family: 'Cormorant Garamond', serif;    
}