:root {
    --header-top-margin: var(--s-32);
    --logo-size: var(--s-128);

    
    --nav-item-gap: var(--s-24);
    --nav-height: var(--font-48);
    --nav-pad: var(--font-32);
    
    --nan-item-color: var(--white-100);

    --auth-bgr-color: var(--true-grey-950);
    --lang-switch-color: var(--true-grey-950);
}