:root {
	/* --layout-width: 1200px; */
	--layout-width: 1185px;

    /* -C-O-L-O-U-R-S- */
    /* Main colours*/
	--neutral-grey-900: hsl(0, 0%, 28%); 
	--neutral-grey-700: hsl(0, 0%, 43%);
	--neutral-grey-500: hsl(0, 0%, 58%);
	--neutral-grey-300: hsl(0, 0%, 76%);
	--neutral-grey-100: hsl(0, 0%, 88%);

	--cool-grey-900: hsl(209, 15%, 28%);
	--cool-grey-700: hsl(207, 12%, 43%);
	--cool-grey-500: hsl(208, 12%, 58%);
	--cool-grey-300: hsl(210, 16%, 76%);
	--cool-grey-100: hsl(208, 21%, 88%);
    --cool-grey-tr-900: hsla(209, 15%, 28%, 0.35);
    --cool-grey-tr-700: hsla(207, 12%, 43%, 0.35);
    --cool-grey-tr-500: hsla(208, 12%, 58%, 0.35);

    --warm-grey-900: hsl(41, 15%, 28%);
    --warm-grey-700: hsl(40, 12%, 43%);
    --warm-grey-500: hsl(39, 12%, 58%);
    --warm-grey-300: hsl(39, 16%, 76%);
    --warm-grey-100: hsl(39, 21%, 88%);
    --warm-grey-tr-900: hsla(41, 15%, 28%, 0.35);


    /* Figma project colours */
    --black: hsl(168, 46%, 10%);

    --true-grey-900: hsl(0, 0%, 12%);
    --true-grey-950: hsla(0, 0%, 12%, 0.35);
    --true-grey-700: hsl(0, 0%, 37%);
    --true-grey-750: hsla(0, 0%, 37%, 0.35);
    --true-grey-500: hsl(0, 0%, 50%);
    --true-grey-300: hsl(0, 0%, 73%);
    --true-grey-100: hsl(0, 0%, 94%);

    --dark-green: hsl(176, 98%, 19%);

    --white-100: hsl(10, 33%, 99%);
    --white-80: hsla(0, 0%, 99%, 0.8);
    --white-60: hsla(0, 0%, 99%, 0.6);
    --white-40: hsla(0, 0%, 99%, 0.4);
    --white-20: hsla(0, 0%, 99%, 0.2);

    /* Accents colours */
    --accent-orange: hsl(27, 85%, 50%);    
    --accent-orange-tr: hsla(27, 82%, 50%, 0.7);    

    /* atsiliepimai */
    --accent-gold: hsl(38, 74%, 62%);
    --accent-peach: hsl(25, 59%, 89%);
    --accent-mint: hsl(177, 23%, 84%);
    --accent-sky: hsl(210, 52%, 89%);

    /* statistics */
    --accent-trending: var(--dark-green);
    --accent-history: hsl(207, 59%, 43%);
    --accent-check: var(--accent-orange);
    --accent-share: hsl(282, 44%, 47%);
    
	/* -F-O-N-T---S-I-Z-E- */
    --ratio: 1.25;
    --font-10: calc(var(--font-12) / var(--ratio)); /* 10.24px */
    --font-12: calc(var(--font-16) / var(--ratio)); /* 12.8px  */
    --font-16: 1rem;                                /* 16px    */
    --font-20: calc(var(--font-16) * var(--ratio)); /* 20px    */
    --font-25: calc(var(--font-20) * var(--ratio)); /* 25px    */
    --font-32: calc(var(--font-25) * var(--ratio)); /* 31.25px */
    --font-40: calc(var(--font-32) * var(--ratio)); /* 39.06px */
    --font-48: calc(var(--font-40) * var(--ratio)); /* 48.83px */
    --font-60: calc(var(--font-48) * var(--ratio)); /* 61.04px */
    --font-76: calc(var(--font-60) * var(--ratio)); /* 76.29px */
    --font-96: calc(var(--font-76) * var(--ratio)); /* 95.37px */


    /* -S-H-A-D-O-W-S- */
    --button-grey-shadow: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.8));
    --button-green-shadow: drop-shadow(0px 4px 15px rgba(0, 79, 25, 0.2));
    --button-orange-shadow: drop-shadow(0px 4px 15px rgba(230, 126, 34, 0.2));

    --plan-icon-orange-shadow: drop-shadow(0px 4px 15px rgba(230, 126, 34, 0.2));
    --plan-icon-green-shadow: drop-shadow(0px 4px 15px rgba(0, 79, 25, 0.2));
    --plan-icon-blue-shadow: drop-shadow(0px 4px 15px rgba(45, 118, 176, 0.2));

    --modal-shadow: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.2));
    --cart-session-card-shadow: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.04));
    --user-session-card-shadow: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.05));

    /* -E-F-F-E-C-T-S---D-U-R-A-T-I-O-N- */
    --bg-fade-time: 150ms;


    /* -S-P-A-C-I-N-G- */
    --s-0: 0;
    --s-2: 0.125rem;
    --s-4: 0.25rem;
    --s-8: 0.5rem;
    --s-12: 0.75rem;
    --s-16: 1rem;
    --s-20: 1.25rem;
    --s-24: 1.5rem;
    --s-32: 2rem;
    --s-40: 2.5rem;
    --s-48: 3rem;
    --s-56: 3.5rem;
    --s-96: 6rem;
    --s-128: 8rem;

    
    /* -B-O-R-D-E-R---R-A-D-I-U-S- */
    --br-2: 2px;
    --br-4: 4px;
    --br-8: 8px;
    --br-12: 12px;
    --br-16: 16px;
    --br-20: 20px;
    --br-100: 100px;

    /* -D-E-L-A-Y-S */
    --delay-08: 0.8s;
}
