.icon {
	display: inline-flex;
    direction: var(--dir);
    line-height: 0%;
}

.icon svg {
	height: 0.75em;
	width: 0.75em;
    /* fill: currentColor; */
    margin-inline-end: var(--icon-space, 0.5em);
    transform: scale(1);
}
.cap svg {
    height: var(--icon-size);
    width: var(--icon-size);
}

.ex svg {
    height: var(--icon-size);
    width: var(--icon-size);
}