.header {
	position: fixed;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
	top: var(--header-top-margin);
	/* background-color: #ffffff77; */
	z-index: 1000;
}

.logoSize {
    width: var(--logo-size);
}
.hidden {
	transform: translateY(-120px);
    transition: transform 0.3s ease-in;
}
.visible {
	transform: translateY(0);
    transition: transform 0.3s ease-out;
}


