.center {
    box-sizing: content-box;
	margin-inline: auto;
	max-inline-size: var(--measure, 65ch);
    padding-inline-start: var(--s-0);
    padding-inline-end: var(--s-0);
}
.textCenter {
    text-align: center;
}
.intrinsic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

