.baseTagLine {
    font-weight: 700;
}
.tagline {
    composes: baseTagLine;
    font-size: 18px;
    color: var(--accent-orange);
    letter-spacing: 0.08em;
    line-height: 1.2;   
}
.baseHeadLine, .titlePrimary {
    composes: baseTagLine;
    color: var(--dark-green);
    font-size: var(--font-96);
}
.titleSecondary {
    composes: baseHeadLine;
    line-height: 0.8;
}
.highlight { color: var(--accent-orange); }
