.cover {
    display: flex;
    flex-direction: column;
    min-height: var(--min-height, 100vh);
    padding: var(--space, 1rem);
}

.cover > * {
    margin-top: var(--space, 1rem);
    margin-bottom: 0;
}

.cover > :first-child {
    margin-top: 0;
}

.cover > .centered {
    margin-top: auto;
    margin-bottom: auto;
}