.heroSection {
    position: relative;
	height: 896px;
	background-image: url('../../../../../assets/images/homepage/bgr_2443x1677.webp');
	background-size: cover;
	background-size: 120% auto;
	background-position: 0% 60%;
	background-repeat: no-repeat;
}

.headline {
    will-change: transform;
}


@media only screen and (max-width: 1087px) {
    .heroSection {
        background-position: 0% 0%;
    }
}

@media only screen and (min-width: 2500px) {
    .heroSection {
        background-position: 0% 40%;
    }
}